<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyyMMdd HH:mm:ss.SSS} %level [%t] %c{39}.%M:%line-%m%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>/Users/peng/tmp/example.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; rollover daily &ndash;&gt;-->
<!--            <fileNamePattern>/Users/peng/tmp/ocsp-web-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            &lt;!&ndash; each file should be at most 100MB, keep 60 days worth of history, but at most 20GB &ndash;&gt;-->
<!--            <maxFileSize>10MB</maxFileSize>-->
<!--            <maxHistory>60</maxHistory>-->
<!--            <totalSizeCap>10GB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%date{yyyyMMdd HH:mm:ss.SSS} %level [%t] %c{39}.%M:%line-%m%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="com.woople" level="INFO" additivity="false">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->

<!--    <logger name="org.apache.flink.streaming.connectors.kafka" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->

<!--    <logger name="org.apache.flink.runtime" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->

<!--    <logger name="org.apache.flink.streaming" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->

    <root level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>